## PubPol 542: Group Project

### Cleaning Data: Graduation & Dropout Data

#### Introduction

This document outlines how to clean a datafile. The orginal dataset that is being cleaned is the Graduation and Droput Rate dataset during the 2018-2019 school year for all schools in Washington State. This data set was acquired from Data.WA.gov- the general purpose open data portal for the State of Washington.

#### 1. Loading Data

1.1. Before we can load our dataframe from the github repository, we need to import the pandas package, because data frames are not directly supported by base Python. Let's import the pandas package and give the library a shorter name ("pd").

In [11]:
# Importing the pandas package

import pandas as pd

1.2. Now, we're ready to upload our data from the github repository. To do this, we need to give the github repository url that has the a data a name ("location").

In [12]:
# Saving github repository data pathway as "location"

location='https://raw.githubusercontent.com/PUBPOL-542-Group-1-Project/madelynsather/main/datafiles/Report_Card_Graduation_2018-19.csv'

1.3. The dataframe is saved as a csv file. Let's read in the data and save our data under the name "grad".

In [13]:
# Loading data

grad=pd.read_csv(location)

#### 2. Explore Data

2.1. Let's make sure the data loaded properly by looking at the first 5 rows of the dataset.

In [14]:
# Explore the first 5 rows of the dataset

grad.head()

,SchoolYear,OrganizationLevel,County,ESDName,ESDOrganizationID,DistrictCode,DistrictName,DistrictOrganizationId,SchoolCode,SchoolName,SchoolOrganizationid,CurrentSchoolType,StudentGroupType,StudentGroup,Suppression,Cohort,BegginingGrade9,TransferIn,Year1Dropout,Year2Dropout,Year3Dropout,Year4Dropout,Year5Dropout,Year6Dropout,Year7Dropout,TransferOut,FinalCohort,Graduate,Continuing,Dropout,GraduationRate,DataAsOf
0,2019,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,504,Non Section 504,No Suppression,Six Year,75929.0,12723.0,414.0,816.0,1870.0,4055.0,2612.0,1588.0,NaN,10451.0,78201.0,65643.0,1203.0,11355.0,0.8394,12/14/2020 12:00:00 AM
1,2019,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,504,Non Section 504,No Suppression,Seven Year,75658.0,12529.0,418.0,811.0,1833.0,4040.0,2564.0,1312.0,779.0,10902.0,77285.0,65451.0,77.0,11757.0,0.8469,12/14/2020 12:00:00 AM
2,2019,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,504,Non Section 504,No Suppression,Five Year,76503.0,12358.0,384.0,844.0,1873.0,4080.0,3078.0,NaN,NaN,10016.0,78845.0,66194.0,2392.0,10259.0,0.8395,12/14/2020 12:00:00 AM
3,2019,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,504,Non Section 504,No Suppression,Four Year,76104.0,12164.0,409.0,900.0,2116.0,5297.0,NaN,NaN,NaN,10357.0,77911.0,63165.0,6024.0,8722.0,0.8107,12/14/2020 12:00:00 AM
4,2019,State,Multiple,State Total,NaN,NaN,State Total,NaN,NaN,State Total,NaN,NaN,504,Section 504,No Suppression,Six Year,5139.0,334.0,6.0,30.0,94.0,295.0,186.0,141.0,NaN,389.0,5084.0,4236.0,96.0,752.0,0.8332,12/14/2020 12:00:00 AM

2.2. Let's look at the data types for each variable in the dataframe.

In [15]:
# Explore the data types for each variable in the dataset

grad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81265 entries, 0 to 81264
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SchoolYear              81265 non-null  int64
 1   OrganizationLevel       81265 non-null  object
 2   County                  81265 non-null  object
 3   ESDName                 75773 non-null  object
 4   ESDOrganizationID       79301 non-null  float64
 5   DistrictCode            76616 non-null  float64
 6   DistrictName            77637 non-null  object
 7   DistrictOrganizationId  80244 non-null  float64
 8   SchoolCode              55737 non-null  float64
 9   SchoolName              77637 non-null  object
 10  SchoolOrganizationid    59365 non-null  float64
 11  CurrentSchoolType       0 non-null      float64
 12  StudentGroupType        81265 non-null  object
 13  StudentGroup            81265 non-null  object
 14  Suppression             81265 non-null  object
 15  Cohort                  81265 non-null  object
 16  BegginingGrade9         30824 non-null  float64
 17  TransferIn              28561 non-null  float64
 18  Year1Dropout            10942 non-null  float64
 19  Year2Dropout            16752 non-null  float64
 20  Year3Dropout            21824 non-null  float64
 21  Year4Dropout            25524 non-null  float64
 22  Year5Dropout            16099 non-null  float64
 23  Year6Dropout            7390 non-null   float64
 24  Year7Dropout            2246 non-null   float64
 25  TransferOut             31713 non-null  float64
 26  FinalCohort             31713 non-null  float64
 27  Graduate                31713 non-null  float64
 28  Continuing              31713 non-null  float64
 29  Dropout                 31713 non-null  float64
 30  GraduationRate          37947 non-null  float64
 31  DataAsOf                81265 non-null  object
dtypes: float64(21), int64(1), object(10)
memory usage: 19.8+ MB

2.3. Let's look at some summary statistics of the variables in the dataset.

In [16]:
# Summary statistics

grad.describe()

,SchoolYear,ESDOrganizationID,DistrictCode,DistrictOrganizationId,SchoolCode,SchoolOrganizationid,CurrentSchoolType,BegginingGrade9,TransferIn,Year1Dropout,Year2Dropout,Year3Dropout,Year4Dropout,Year5Dropout,Year6Dropout,Year7Dropout,TransferOut,FinalCohort,Graduate,Continuing,Dropout,GraduationRate
count,81265.0,79301.000000,76616.000000,80244.000000,55737.000000,59365.000000,0.0,30824.000000,28561.000000,10942.000000,16752.000000,21824.000000,25524.000000,16099.000000,7390.000000,2246.000000,31713.000000,31713.000000,31713.000000,31713.000000,31713.000000,37947.000000
mean,2019.0,95442.218068,22469.144226,95706.161482,3494.391679,96508.235627,NaN,441.520893,73.790378,6.282124,8.743314,14.925220,28.764300,20.720480,15.132612,12.436776,56.499070,439.101063,371.027370,12.939930,55.133762,0.777177
std,0.0,20899.779061,10445.823795,20836.184328,1293.318617,24679.902489,NaN,2913.909588,465.578670,24.267000,41.223389,83.285881,178.107012,121.467262,77.458973,53.217445,376.797015,2938.632317,2479.393692,122.717249,382.448020,0.201418
min,2019.0,0.000000,1109.000000,0.000000,1500.000000,0.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014300
25%,2019.0,100003.000000,17001.000000,100075.000000,2386.000000,101183.000000,NaN,21.000000,5.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,20.000000,12.000000,0.000000,3.000000,0.727300
50%,2019.0,100006.000000,22009.000000,100150.000000,3330.000000,102293.000000,NaN,73.000000,14.000000,2.000000,2.000000,3.000000,5.000000,3.000000,2.000000,2.000000,9.000000,72.000000,53.000000,1.000000,9.000000,0.847700
75%,2019.0,100007.000000,31311.000000,100231.000000,4585.000000,103918.000000,NaN,234.000000,38.000000,4.000000,5.000000,7.000000,13.000000,9.000000,7.000000,6.000000,28.000000,231.000000,205.000000,5.000000,23.000000,0.911900
max,2019.0,105798.000000,39209.000000,106180.000000,5957.000000,106182.000000,NaN,82611.000000,13057.000000,424.000000,948.000000,2270.000000,5779.000000,3360.000000,1729.000000,841.000000,11307.000000,84653.000000,70973.000000,6653.000000,12476.000000,0.989800

#### 3. Cleaning Data: Dropping Variables (Columns)

3.1. First, let's make sure we can see all rows and columns.

In [17]:
# Display all rows and columns

pd.set_option('display.max_rows',grad.shape[0]+1)
pd.set_option('display.max_columns', None)

3.2. We don't need columns 0-4, 7, 10, 11, 13, 14, 22-24, 31 (see above). Let's drop these variables.

In [18]:
# Drop variables we don't need

grad.drop(grad.iloc[:,[0,1,2,3,4,7,10,11,13,14,22,23,24,31]], axis=1, inplace=True)

3.3. Let's verify that this worked by looking at all the variables in the dataset.

In [19]:
# Explore the variables in the dataset

grad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81265 entries, 0 to 81264
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DistrictCode      76616 non-null  float64
 1   DistrictName      77637 non-null  object
 2   SchoolCode        55737 non-null  float64
 3   SchoolName        77637 non-null  object
 4   StudentGroupType  81265 non-null  object
 5   Cohort            81265 non-null  object
 6   BegginingGrade9   30824 non-null  float64
 7   TransferIn        28561 non-null  float64
 8   Year1Dropout      10942 non-null  float64
 9   Year2Dropout      16752 non-null  float64
 10  Year3Dropout      21824 non-null  float64
 11  Year4Dropout      25524 non-null  float64
 12  TransferOut       31713 non-null  float64
 13  FinalCohort       31713 non-null  float64
 14  Graduate          31713 non-null  float64
 15  Continuing        31713 non-null  float64
 16  Dropout           31713 non-null  float64
 17  GraduationRate    37947 non-null  float64
dtypes: float64(14), object(4)
memory usage: 11.2+ MB

#### 4. Cleaning Data: Dropping Rows

4.1. We are only looking at seniors in high school in our analysis, so let's drop all other grades in the dataset. We can do this using the Cohort variable. First, let's explore the levels of this variable to know what rows we need to drop.

In [20]:
# Explore the levels of Cohort variable

grad['Cohort'].value_counts()

Seven Year    20411
Six Year      20324
Four Year     20269
Five Year     20261
Name: Cohort, dtype: int64

We only want to keep "Four Year", which is grade 12. We need to drop all of the other levels of this variable.

In [21]:
# Only keep grade 12

grad=grad[(grad.Cohort== 'Four Year')]

Let's verify that this worked by looking at the levels of the Cohort variable again.

In [22]:
# Explore the levels of Cohort variable

grad['Cohort'].value_counts()

Four Year    20269
Name: Cohort, dtype: int64

4.2. There are some rows in the dataset that are totals for the entire state. Let's drop these rows from the dataset. First, let's look at the shape of the dataset (the number of observations and the number of columns.

In [23]:
# Number of observations and number of columns in dataset

grad.shape

(20269, 18)

Let's drop the state totals from the dataset.

In [26]:
# Drop rows with state totals

to_drop=['State Total']
grad=grad[~grad['SchoolName'].isin(to_drop)]

Let's verify that this worked by looking at the shape of the dataset again.

In [27]:
# Number of observations and number of columns in dataset

grad.shape

(20244, 18)

4.3. There are some rows in the dataset that are totals for the entire school district. Let's drop these rows from the dataset. We can do this by dropping rows where the SchoolName=District Total.

In [28]:
# Drop rows if SchoolName=District Total

to_drop=['District Total']
grad=grad[~grad['SchoolName'].isin(to_drop)]

We also want to drop rows if the SchoolName is missing (SchoolName = NaN).

In [29]:
# Drop rows if SchoolName = NaN

grad = grad[grad['SchoolName'].notna()]

Let's verify that this worked by looking at the shape of the dataset again.

In [30]:
# Number of observations and number of columns in dataset

grad.shape

(14035, 18)

4.4. There are some rows in the dataset that are for specific Student Group Types (LowIncome, Homeless, Migrant, etc.). We want to include all of these Student Group Types, but get rid of the individual Student Group Type rows. Let's drop these rows from the dataset. First, let's look at the Student Group Types.

In [31]:
# Explore the levels of Student Group Type variable

grad.StudentGroupType.value_counts()

Race         3229
Gender       1447
LowIncome    1399
sped         1351
Homeless     1312
504          1284
ELL          1197
Foster       1089
Migrant       983
All           744
Name: StudentGroupType, dtype: int64

Let's only keep the rows where the Student Group Type = All.

In [32]:
# Keep rows if Student Group Type is all

grad=grad.loc[grad['StudentGroupType'] == 'All']

We also want to drop rows if the Student Group Type is missing (Student Group Type = NaN).

In [33]:
# Drop rows if Student Group Type is NaN

grad = grad[grad['StudentGroupType'].notna()]

4.5. There are some rows that having missing data in columns 5-16. Let's drop these rows by first making them into a vector (c) and then dropping that vector.

In [34]:
# Drop if rows all NaN for columns 5-16

c = grad.iloc[:,5:17].columns
grad=grad.dropna(axis=0,subset=c,thresh=2)

#### 5. Drop Variables We No Longer Need

5.1. Now that we've cleaned all of the rows, we can drop some more variables that we no longer need (Cohort, Student Group Type).

In [35]:
# Drop variables Cohort and Student Group Type

grad=grad.drop(columns=['StudentGroupType','Cohort'])

5.2. Let's verify that this worked by looking at all the variables in the dataset.

In [36]:
# Explore the variables in the dataset

grad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 130 to 55950
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DistrictCode     474 non-null    float64
 1   DistrictName     483 non-null    object
 2   SchoolCode       474 non-null    float64
 3   SchoolName       483 non-null    object
 4   BegginingGrade9  473 non-null    float64
 5   TransferIn       442 non-null    float64
 6   Year1Dropout     157 non-null    float64
 7   Year2Dropout     282 non-null    float64
 8   Year3Dropout     357 non-null    float64
 9   Year4Dropout     405 non-null    float64
 10  TransferOut      483 non-null    float64
 11  FinalCohort      483 non-null    float64
 12  Graduate         483 non-null    float64
 13  Continuing       483 non-null    float64
 14  Dropout          483 non-null    float64
 15  GraduationRate   431 non-null    float64
dtypes: float64(14), object(2)
memory usage: 64.1+ KB

5.3. Let's also double-check by looking at the summary statistics of our dataset.

In [37]:
# Summary statistics

grad.describe()

,DistrictCode,SchoolCode,BegginingGrade9,TransferIn,Year1Dropout,Year2Dropout,Year3Dropout,Year4Dropout,TransferOut,FinalCohort,Graduate,Continuing,Dropout,GraduationRate
count,474.000000,474.000000,473.000000,442.000000,157.000000,282.000000,357.000000,405.000000,483.000000,483.000000,483.000000,483.000000,483.000000,431.000000
mean,22436.500000,3403.421941,320.640592,51.606335,4.751592,6.078014,10.700280,23.014815,41.511387,319.716356,264.279503,23.136646,32.300207,0.736495
std,10404.449408,1193.508748,1621.283119,251.472324,14.820142,23.925766,45.337961,109.504215,205.201433,1641.391612,1364.742141,116.435947,166.159833,0.248761
min,1147.000000,1502.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014300
25%,17001.000000,2416.250000,31.000000,6.250000,1.000000,1.000000,2.000000,3.000000,3.000000,28.500000,13.000000,2.000000,3.000000,0.663000
50%,21352.000000,3274.000000,100.000000,18.000000,2.000000,2.000000,4.000000,7.000000,12.000000,99.000000,61.000000,8.000000,10.000000,0.846200
75%,31176.500000,4293.250000,297.000000,44.750000,3.000000,4.000000,7.000000,14.000000,33.500000,300.000000,269.500000,15.000000,21.000000,0.908650
max,39209.000000,5953.000000,30444.000000,4609.000000,170.000000,337.000000,692.000000,1774.000000,3836.000000,31217.000000,26177.000000,2067.000000,2973.000000,0.988500

#### 6. Checking if there are missing data

6.1. We dropped rows with missing data earlier, but let's look to see if there are any more missing data in our dataset. To do this, we need to import the package numpy. When we import this package, let's save it as "np", so it's easier to work with.

In [38]:
# Importing the numpy package

import numpy as np

6.2. Now, let's look to see if there are missing data in the dataset.

In [39]:
# Check for missing data

np.any(grad.isnull())

True

#### 7. Saving Cleaned Dataset

7.1. Now, it's time to save our cleaned dataset. We want to save our data as a csv file.

In [40]:
# Save cleaned dataset as a csv file

grad.to_csv('./graduation.csv', index=False)